@import "~@fontsource/quicksand/400.css";
@import "~@fontsource/quicksand/700.css";
@import "~@fontsource/urbanist/400.css";
@import "~@fontsource/urbanist/700.css";
@import "~@fontsource/expletus-sans/400.css";
@import "~@fontsource/expletus-sans/700.css";
@import "~@fontsource/expletus-sans/variable.css";
@import "~@fontsource/barlow/400.css";
@import "~@fontsource/barlow/700.css";
@import "~@fontsource/barlow/800.css";
@import "~@fontsource/barlow/900.css";

$theme_green: #27d681;
$theme_blue: #384fef;

$reallylightgray: #f9f9f9;
$lighterergray: #f2f2f2;
$lightergray: #eaeaea;
$lightishgray: #e3e3e3;
$lesslightgray: #cecece;


